<div class="container_trending">
    <h3 align="left" style= "padding: 16px;">Recently Viewed Products</h3>
        {{# each trendingp}}
            <div class="row">
                {{# each this}}
                    <div class="col-sm-1 col-md-4">
                        <div class="thumbnail">
                            <a href="/product/{{this._id}}"><img src="{{this.imagePath}}" class="img-responsive"></a>
                            <div class="caption">
                                <h5>{{this.name}}</h5>
                                <div class="clearfix">
                                    <div class="price pull-left">${{this.price}}</div>
                                    <a href="/add-to-cart/{{this._id}}" class="btn btn-success pull-right" role="button">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
            <br>
        {{/each}}
</div>
{{!-- <br><br>
<br>
<br><br><br>

<div class="container_trending">
    <h3 align="left" style= "padding: 16px;">Trending Products</h3>
        {{# each recentp}}
            <div class="row">
                {{# each this}}
                    <div class="col-sm-1 col-md-4">
                        <div class="thumbnail">
                            <a href="/product/{{this._id}}"><img src="{{this.imagePath}}" class="img-responsive"></a>
                            <div class="caption">
                                <h5>{{this.name}}</h5>
                                <div class="clearfix">
                                    <div class="price pull-left">${{this.price}}</div>
                                    <a href="/add-to-cart/{{this._id}}" class="btn btn-success pull-right" role="button">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
            <br>
        {{/each}}
</div> --}}
<br><br>
<br>
<br><br><br>
<div class="container_trending">
    <h3 align="left" style= "padding: 16px;">All Products</h3>
    {{# each products}}
        <div class="row">
            {{# each this}}
                <div class="col-sm-1 col-md-4">
                    <div class="thumbnail">
                        <a href="/product/{{this._id}}"><img src="{{this.imagePath}}" class="img-responsive"></a>
                        <div class="caption">
                            <h5>{{this.name}}</h5>
                            <div class="clearfix">
                                <div class="price pull-left">${{this.price}}</div>
                                <a href="/add-to-cart/{{this._id}}" class="btn btn-success pull-right" role="button">Add To Cart</a>
                            </div>

                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
        <br>
    {{/each}}
</div>

  
